.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}


.error {
    border-color: red;
}

.errorMassage {
    color: red;
}

.activeFilter {
    background-color: cornflowerblue;
}

.completed {
    opacity: 0.5;
}